*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-position: center center no repeat;
    min-height: 100%;
    background-size: cover;    
}

header{
    width: 100%;
    height: 270px;
    background: #ffbb9c;
    text-align: center;
	position: relative;
    top: 0;
    overflow: hidden;
}

header nav{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 1;
    width: 100%;
    background: rgba(232, 63, 0, 0.8);
    text-align: center;
}

header nav a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

header nav a:hover{
    background: rgb(243, 166, 121);
}

.logo img{
    width: 250px;
    height: 175px;
    
    padding: 0;
    position: absolute;
}

.menu a{
    text-align: center;
}


h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
    color: #2c3e50;
    text-align: center;
}

p{
    margin-bottom: 2rem;
    line-height: 2;
    color: #7f8c8d;
    text-align: center;
}

body{
    background-color: #ffbb9c;
}

h1{
    text-align: center;
    color: #2c3e50
}

h4{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #2c3e50;
}

header{
    padding: 20px 0 0 0;
    text-align: center;
}

.navct{
    color: white;
    padding-top: 5px;
    text-transform: uppercase;
}

@media(min-width: 750px){
    header {
        text-align: left;
    }
}

ul{
    list-style: none;
}

#encabezado{
    margin: 30px 0;
}

.contenido-hero{
    padding-top: 120px;
    color: white;
    background-image: url(../images/fondo.jpg);
}

.contenido-hero form{
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador{
    height: 50px;
    margin-bottom: 0;
}

.contenido-hero form .submit-buscador{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../images/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}

.contenido-hero p{
    color: #2c3e50;
    font-size: 25px;

}

.icono {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
    background-size: 30px;
    margin-top: 40px;
    text-align: center;
}

@media(min-width: 750px){
    .icono{
        margin-bottom: 0;
    }
}

.lista-cafe #container{
    position: relative;
    display: block;
    transition: padding-top 0.5s ease;
}

#lista-cafe .row{
    margin-bottom: 20px;
}

.agregar-carrito{
    margin: 10px 0;
}

.card{
    text-align: center;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 /  3%); 
    background: rgba(240, 141, 105, 0.8);
}

@media(min-width: 550px){
    .card{
        text-align: left;
    }
}

.info-card{
    padding: 10px 20px;
    color: white;
}

.info-card p{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    text-align: left;
    
}

.info-card .precio{
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}

.info-card .precio span{
    font-weight: 700;
    font-size: 22px;
}

.footer{
    border-top: 1px solid white;
    margin-top: 40px;
    padding-top: 40px;
}

.logo {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;   
}

footer{
    width: 100%;
    background: #404244;
    color: white;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1234px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

h6{
    font-size: 22px;
}

.empresa{
    max-width: 300px;
}

.empresa img{
    width: 230px;
    height: 140px;
    margin-top: 40px;
}

.servicios{
    max-width: 300px;
}

.datos op{
    margin-top: 20px;
    color: #c7c7c7;
}

.datos a{
    color: #c7c7c7;
    line-height: 35px;
    text-decoration: none;
}

ul.datos{
    list-style-position: inside;
}

.atencion{
    max-width: 300px;
}

.atencion p{
    font-size: 14px;
    color: rgb(172, 165, 165);
    margin-top: 15px;
    line-height: 1;
}

ul.atencion{
    list-style-position: inside;
}

.atencion .horario{
    font-size: 14px;
    color: rgb(172, 165, 165);
    margin-top: 20px;
}

ul.horario{
    list-style-position: inside;
    line-height: 2;
}

.redes{
    max-width: 300px;
}

.redes p{
    font-size: 14px;
    color: rgb(172, 165, 165);
    line-height: 1;
}

.row img{
    width: 294.39px;
    height: 260px;
    
}

.container-footer{

    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}

.copyright a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.informacion a{
    text-decoration: none;
    color: #c7c7c7;
}



table{
    margin: auto;
}

.historia{
    background-image: url(../images/R.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.servidor{
    background-image: url(../images/R.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.internet{
    background-image: url(../images/R.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body .table{
    padding: 0;
    padding-top: 20px;
    margin-top: 20px;
}

.internet h3{
 text-align: center; 
 font-family: "MarioNett";  
 font-size: 40px;
}

.internet table p{
    text-align: justify;
    font-family: "Aero Matics";
    font-size: 5px;
}

table .caso{
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    border: #2A2420 5px solid;
}

table .caso td{
    border: #2A2420 5px solid;
}

table .video{
    position: static;
}

.internet table img{
    display:block;
margin:auto;
}

hr {
    height: 1px;
    background-color: white;
  }



.lista-cafe #container{
    position: relative;
    display: block;
    transition: padding-top 0.5s ease;
}

#lista-cafe .row{
    margin-bottom: 20px;
}

.agregar-carrito{
    margin: 10px 0;
}

.card{
    box-shadow: 0 25px 98px 0 rgb(0 0 0 /  3%); 
    background: rgba(240, 141, 105, 0.8);
    border: solid 2px #f6f6f6;
    border-radius: 15px;
}

@media(min-width: 550px){
    .card{
        text-align: left;
    }
}

.info-card{
    padding: 10px 20px;
    color: white;
}

.info-card p{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    text-align: left;
    
}

.card:hover{
    background: #bcbe45ab;
} 

.card p{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #2c3e50;
}