*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}


.nave{
    
    bottom: 0;
    height: 60px;
    line-height: 1;
    width: 100%;
    background: rgba(232, 63, 0, 0.8);
    text-align: center;
}

.nave a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.nave a:hover{
    background: rgb(243, 166, 121);
}



.footer{
    border-top: 1px solid white;
    margin-top: 40px;
    padding-top: 40px;
}

.logo {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;   
}

footer{
    width: 100%;
    background: #404244;
    color: white;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1234px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

h6{
    font-size: 22px;
}

.empresa{
    max-width: 300px;
}

.empresa img{
    width: 230px;
    height: 140px;
    margin-top: 40px;
}

.servicios{
    max-width: 300px;
}

.datos op{
    margin-top: 20px;
    color: #c7c7c7;
}

.datos a{
    color: #c7c7c7;
    line-height: 35px;
    text-decoration: none;
}

ul.datos{
    list-style-position: inside;
}

.atencion{
    max-width: 300px;
}

.atencion p{
    font-size: 14px;
    color: rgb(172, 165, 165);
    margin-top: 15px;
    line-height: 1;
}

ul.atencion{
    list-style-position: inside;
}

.atencion .horario{
    font-size: 14px;
    color: rgb(172, 165, 165);
    margin-top: 20px;
}

ul.horario{
    list-style-position: inside;
    line-height: 2;
}

.redes{
    max-width: 300px;
}

.redes p{
    font-size: 14px;
    color: rgb(172, 165, 165);
    line-height: 1;
}

.row img{
    width: 294.39px;
    height: 260px;
    
}

.container-footer{

    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #c7c7c7;
}

.copyright a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.informacion a{
    text-decoration: none;
    color: #c7c7c7;
}

.btnEnviar{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.btnEnviar:hover{
    background: #3371B6;
}