body{
	background-image: url(https://th.bing.com/th/id/R.18dbfe4c3db926733fc26a7ca16148ac?rik=84JmlprEVnlAxg&pid=ImgRaw&r=0);
	background-size: 100%;
}

table{
	border-color: #F99393;
	background-color:#FFC1DC ;
	border: solid;

}

p{
	font-family: Bahnschrift;
	font-size: 14pt;
}